### ARIMA Modell

In [2]:
# Daten einlesen
wetterdaten <- readRDS("datasets/rds/wetterdaten.rds")

# Ort für die Analyse festlegen
norderney <- wetterdaten[[6]]
head(norderney)

      STATIONS_ID MESS_DATUM RSK SDK TMK
46346 3631        2014-01-01 0.2 3.6 5.8
46347 3631        2014-01-02 0.5 0.5 7.9
46348 3631        2014-01-03 2.4 0.0 7.2
46349 3631        2014-01-04 1.3 3.0 6.8
46350 3631        2014-01-05 0.4 5.0 5.7
46351 3631        2014-01-06 5.0 0.4 8.1

In [3]:
# Jahr und Monat mit format extrahieren
start_year <- as.numeric(format(min(norderney$MESS_DATUM), "%Y"))
start_month <- as.numeric(format(min(norderney$MESS_DATUM), "%m"))

# Zeitreihenobjekt aus TMK erstellen
TMK_ts <- ts(norderney$TMK, start=c(start_year, start_month), frequency=365)

In [4]:
# Ein passendes Modell mit auto.arima() finden
if (!require(forecast, quietly = TRUE)) {
  install.packages("forecast")
}
modell_tmk <- auto.arima(TMK_ts, seasonal=TRUE, stepwise=TRUE, approximation=TRUE)
summary(modell_tmk)

In [ ]:
# Erstellen der Vorhersage für die nächsten 3 Jahre (1095 Tage)
future_forecast <- forecast(modell_tmk, h=1095)

In [ ]:
# Ergebnisse der Vorhersage darstellen
png_name <- "plots/forecast/norderney_TMK.png"
png(png_name, width=800, height=400)
plot(future_forecast,
  type = "l",
  xlab = "Jahr",
  ylab = "TMK",
  main = "")
dev.off()

png
  2